@keyframes ripple {
	from {
		opacity: 1;
		transform: scale(0);
	}
	to {
		opacity: 0;
		transform: scale(10);
	}
}

html, body {
	padding: 0;
	margin: 0;

	background: var(--background-color);
	color: var(--text-color);

	height: 80%;
}

:root {
	--background-color: #282828;
	
	--text-color-selection: #eeeeeefe; /* barely lower alpha so browser doesn't screw it */
	--text-color: #eeeeee;
	--grayer-color: #cccccc;

	--not-black: #121212;
	--dark-accent: #313131;
	--medium-accent: #363636;
	--light-accent: #3b3b3b;
	--lightest-accent: #474747;

	--hover-scale-amount: 1.03;

	--short-delay: 0.15s;

	--fast-speed: 0.3s;
	--medium-speed: 0.6s;
	--slow-speed: 1s;
	--very-slow-speed: 2s;

	--large-y-offset: 16px;
	--medium-y-offset: 8px;
	--small-y-offset: 4px;
	
	--scroll-thumb: #4d4d4d;
	--scroll-track: #373737;

	--arrow-size: 14px;

	--square-tile-size: 256px;

	--rect-tile-width: 350px;

	--rect-tile-height: 200px;
}

::selection {
	background-color: var(--text-color-selection);
	color: var(--background-color);
}




@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato.woff2") format("woff2");

	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto.woff2") format("woff2");

	font-display: swap;
	font-style: normal;
	font-weight: 400;
}



* {
	-webkit-tap-highlight-color: transparent;

	font-size: 20px;
	font-family: Roboto;
	
	user-select: none;
}



body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

body::-webkit-scrollbar-corner {
	background: var(--scroll-track);
}

body::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
}

body::-webkit-scrollbar-track {
	background: var(--scroll-track);
}